<h2 class="form-title">Edit User's Data</h2>

<%= form_with model: @user do |form| %>
<div class="field">
  <%= form.label :photo %><br />
  <%= form.text_field :photo, placeholder: "URL", size:"60" %>
</div>
<div class="field">
  <%= form.label :bio %><br />
  <%= form.text_area :bio, size: "60x10" %>
</div>
  
<div class="actions">
<%= form.submit %>
</div>
<% end %>
