<h2 class="form-title">Edit User's Data</h2>

<%= form_with model: @user, class: "new_form" do |form| %>
  <%= form.label :photo %>
  <%= form.text_field :photo, placeholder: "URL" %>
  <%= form.label :bio %>
  <%= form.text_area :bio, rows: 10 %>
  <%= form.submit %>
<% end %>
