  <%= link_to user_post_path(user_id: @user.id, id: post.id)do %>
    <div class="post_info">
      <p>Post #<%=post.id%></p>
      <p><%=post.text[0...100]+"..."%>
      <p class="number_comments_likes">Comments:  <%=post.comments_counter%>, Likes: <%=post.likes_counter%> </p>
      <%= form_with model: @like, url: post_likes_path(post.id) do |f| %>
        <%= f.submit "Like"  %>
      <% end %>
    </div>
  <%end%>