<p class="post_title">Add a new post</p>

<%= form_with model: @post, url: user_posts_path, class: "new_form" do  |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <%= f.label :text, "Text" %>
  <%= f.text_area :text, rows: 10 %>
  <%= f.submit "Create Post" %>
<% end %>